body {
  margin-bottom: 40px;
}
h1, h4 {
  text-align: center;
}
h1 {
  margin-bottom: 30px;
}
#landing-title {
  font-size: 4em;
}
.jumbotron {
  margin: 20px auto;
  max-width:500px;
}
.login-register {
  max-width:400px;
  text-align: center;
  margin: auto;
}
.login-register a, .login-register input[type=submit] {
  margin-top: 20px;
}
#logo {
  width:30%;
  display:block;
  margin:auto;
}
input {
  margin-top: 10px;
}
#all-surveys {
  max-width: 400px;
  margin:20px auto;
  text-align: center;
}
.wrap-center {
  display:block;
  text-align: center;
  margin-top: 15px;
}

#survey-results {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#survey-link {
  text-align: center;
}
.unwide {
  max-width:400px;
  text-align: center;
  margin: 5px auto;
}
.pad {
  margin-bottom: 40px;
}
#new-survey-title {
  font-size: 2em;
  height:auto;
}
