<ul class="list-group" id='all-surveys'>
  <% surveys.each do |survey| %>
    <a href="/surveys/<%= survey.id %>" class='survey'>
      <li class="list-group-item">
        <%= survey.title %>
        <br><br>
        By <%= survey.creator.username %>
      </li>
    </a>
  <% end %>
</ul>
