<h1>Create A Survey</h1>

<form action='/surveys' method='post' id="new-survey">


  <input class='form-control unwide' name='title' type='text' placeholder='survey title' id="new-survey-title">

  <br>
  <br>

  <ul id="added-questions" class='list-group'>
    <li class='pad'>
      <input class='form-control' name='questions[0][question]' placeholder='question'>

      <div class='wrap-center'>
        <input class='form-control unwide inline' name='questions[0][options][0]' placeholder='option'> <button class='delete-option btn btn-danger btn-sm'>delete option</button><br>
        <input class='form-control unwide inline' name='questions[0][options][1]' placeholder='option'> <button class='delete-option btn btn-danger btn-sm'>delete option</button><br>
      </div>

      <div class='wrap-center'>
        <button class='add-option btn btn-success'><span class='glyphicon glyphicon-plus'></span> add option</button>
        <button class='delete-question btn btn-danger'><span class='glyphicon glyphicon-minus'></span> delete question</button>
      </div>
    </li>
  </ul>

  <div class='wrap-center'><button id="new-question" class='btn btn-success'><span class='glyphicon glyphicon-plus'></span> add question</button></div>

  <br>
  <div class='wrap-center'><input type='submit' class='btn btn-primary btn-lg' value="Create survey"></div>
</form>

