<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <link rel="stylesheet" href="/css/lib/basic.css"> <!-- SOURCE: http://www.ericmmartin.com/projects/simplemodal/ -->
  <link rel="stylesheet" href="/css/lib/basic_ie.css"> <!-- SOURCE: http://www.ericmmartin.com/projects/simplemodal/ -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Serve-a-gorilla</title>
</head>
<body>
  <% if logged_in? %>
    <%= erb :'_nav_bar' %>
  <% end %>
  <div class='container'><%= yield %></div>
</body>
</html>


